@use '../abstract' as *;

// *** Html ***
html {
  @media (max-width: 500px) {
    font-size: 50%;
  }
}
// *** End of Html ***

// *** Body ***
body {
  color: $color-gray-dark;

  font-family: 'Public Sans', serif;

  @include font-settings(1.8rem, 400);
  @include dimension-settings(100%);

  //   margin-top: 2rem;
}
// *** End of Body ***

// *** Container ***
.container {
  margin: 2rem auto;

  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);

  @include flex-settings(null, null, column);
  @include dimension-settings(100%, 144rem);

  @media (max-width: 500px) {
    margin: 0 auto;
  }
}
// *** End of Container ***

// *** Main ***
.main {
  position: relative;

  overflow-x: hidden;

  @include dimension-settings(100%, 144rem);
}
// *** End of Main ***

// *** Sections ***
.digital-banking,
.why-easybank,
.latest-articles {
  position: relative;

  padding-inline: 9.5rem;
  padding-top: 9.5rem;
  padding-bottom: 9.5rem;

  @include dimension-settings(100%);
}
// *** End of Sections ***

// *** Heading Secondary ***
.heading-secondary {
  color: $color-blue-dark;
  @include font-settings(4rem, 300, 6.4rem, -0.071rem);
}
// *** End of Heading Secondary ***

// *** Description ***
.description {
  color: $color-gray-dark;

  margin-bottom: 3.6rem;

  @include font-settings(null, null, 2.8rem, -0.028rem);
}
// *** End of Description ***

// *** Ultimate Button Winner ( Alone Button in the page 😂 ) ! ***
.ultimate-button {
  &:link,
  &:visited {
    color: $color-white;

    background-image: linear-gradient(
      to right,
      $color-gradient-green,
      $color-gradient-cyan
    );

    border-radius: 2.8rem;

    transition: opacity 0.3s;

    cursor: pointer;

    @include flex-settings(center);
    @include dimension-settings(16.3rem, null, 4.4rem);
    @include font-settings(1.4rem, 700, 4.4rem);
  }

  &:hover,
  &:active {
    opacity: 0.7;
  }
}
// *** End of Ultimate Button Winner ( Alone Button in the page 😂 ) ! ***

// *** Disclaimer ***
.disclaimer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  background-color: $color-black;
  color: $color-blue-light;

  padding: 5rem;

  opacity: 1;
  visibility: visible;

  animation: fade-in 0.25s linear 5s forwards;

  @include dimension-settings(100%, 50rem);
  @include font-settings(2rem, null, 150%);

  @media (max-width: 500px) {
    @include font-settings(1.8rem, null, 150%);
  }
}
// *** End of Disclaimer ***
