//----------------------------------
// *** COLOR ***
//----------------------------------
$color-black: #000;

$color-blue-dark: #2d314d;

$color-blue-light: #f4f5f7;

$color-gray-dark: #9698a6;
$color-white: #fff;
$color-gray-light: #fafafa;

$color-gradient-green: #31d35c;
$color-gradient-cyan: #2bb7da;

$color-test: #f4f5f7;
